:root {
  /* color */
  --color: 0 0% 100%;
  --bg-color: 0 0% 23%;
  --white: 0, 0%, 100%;
  --border-color: 0 0% 0%;
  --g-color: 0 0% 23%;
  --g-color2: 0 0% 16%;
  /* shadow */
  --b-shadow: 0 0 .8em hsl(0 0% 0% / .25);
  /* font weight */
  --fw-n: 400;
  --fw-m: 600;
  --fw-b: 800;
  /* font size */
  --fs-xs: 0.6rem;
  --fs-s: 0.8rem;
  --fs-l: 1rem;
  --fs-x: 1.2rem;
  --fs-xl: 1.4rem;
  --br: 0.3em;
  --p-s: 1em;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to left, hsl(var(--g-color)), hsl(var(--g-color2)));
  position: relative;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container h1 {
  color: hsl(var(--color));
  font-size: var(--fs-xl);
  padding: var(--p-s);
}
.container p {
  color: hsl(var(--color));
}
.container article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  gap: 1em;
}
.container form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#error {
  background: linear-gradient(hsl(var(--g-color)), hsl(var(--g-color2)));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 5em;
  padding: 1em;
  width: 15em;
  border-radius: 0.3em;
  display: none;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 7px 1px whitesmoke;
}
#error p {
  color: white;
}

.bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.bubbles span {
  -webkit-animation: bubbles 23s ease-in-out infinite;
          animation: bubbles 23s ease-in-out infinite;
  transform-style: preserve-3d;
  box-shadow: var(--b-shadow);
  position: absolute;
  background-color: hsl(var(--white), 0.2);
  top: -10em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bubbles span:nth-child(0) {
  left: 95vw;
  width: 5em;
  height: 5em;
  transform: translateZ(8em) rotateY(5deg);
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bubbles span:nth-child(0):before {
  content: "/";
  color: hsl(var(--white));
  font-size: 1.5rem;
}
.bubbles span:nth-child(1) {
  left: 83vw;
  width: 6em;
  height: 6em;
  transform: translateZ(1em) rotateY(6deg);
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
.bubbles span:nth-child(1):before {
  content: "+";
  color: hsl(var(--white));
  font-size: 1.5rem;
}
.bubbles span:nth-child(2) {
  left: 36vw;
  width: 5em;
  height: 5em;
  transform: translateZ(3em) rotateY(6deg);
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bubbles span:nth-child(2):before {
  content: "x";
  color: hsl(var(--white));
  font-size: 1.5rem;
}
.bubbles span:nth-child(3) {
  left: 44vw;
  width: 6em;
  height: 6em;
  transform: translateZ(7em) rotateY(8deg);
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}
.bubbles span:nth-child(3):before {
  content: "x";
  color: hsl(var(--white));
  font-size: 1.5rem;
}
.bubbles span:nth-child(4) {
  left: 41vw;
  width: 3em;
  height: 3em;
  transform: translateZ(5em) rotateY(6deg);
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.bubbles span:nth-child(4):before {
  content: "/";
  color: hsl(var(--white));
  font-size: 1.5rem;
}
.bubbles span:nth-child(5) {
  left: 70vw;
  width: 3em;
  height: 3em;
  transform: translateZ(3em) rotateY(5deg);
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.bubbles span:nth-child(5):before {
  content: "+";
  color: hsl(var(--white));
  font-size: 1.5rem;
}
.bubbles span:nth-child(6) {
  left: 51vw;
  width: 4em;
  height: 4em;
  transform: translateZ(6em) rotateY(7deg);
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bubbles span:nth-child(6):before {
  content: "x";
  color: hsl(var(--white));
  font-size: 1.5rem;
}
.bubbles span:nth-child(7) {
  left: 88vw;
  width: 6em;
  height: 6em;
  transform: translateZ(5em) rotateY(3deg);
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bubbles span:nth-child(7):before {
  content: "/";
  color: hsl(var(--white));
  font-size: 1.5rem;
}
.bubbles span:nth-child(8) {
  left: 3vw;
  width: 4em;
  height: 4em;
  transform: translateZ(8em) rotateY(8deg);
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.bubbles span:nth-child(8):before {
  content: "*";
  color: hsl(var(--white));
  font-size: 1.5rem;
}
.bubbles span:nth-child(9) {
  left: 30vw;
  width: 2em;
  height: 2em;
  transform: translateZ(1em) rotateY(2deg);
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bubbles span:nth-child(9):before {
  content: "*";
  color: hsl(var(--white));
  font-size: 1.5rem;
}
.bubbles span:nth-child(10) {
  left: 62vw;
  width: 2em;
  height: 2em;
  transform: translateZ(5em) rotateY(8deg);
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.bubbles span:nth-child(10):before {
  content: "+";
  color: hsl(var(--white));
  font-size: 1.5rem;
}
@-webkit-keyframes bubbles {
  to {
    transform: translateY(130vh) rotateZ(360deg) rotateX(360deg) rotateY(360deg);
    opacity: 0;
  }
}
@keyframes bubbles {
  to {
    transform: translateY(130vh) rotateZ(360deg) rotateX(360deg) rotateY(360deg);
    opacity: 0;
  }
}

#calculator {
  max-width: 12em;
  width: 100%;
  flex-direction: column;
  padding: 1.5em 0.5em 1em 0.5em;
  background: linear-gradient(hsl(var(--g-color)), hsl(var(--g-color2)));
  border-radius: var(--br);
  box-shadow: var(--b-shadow);
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: hsl(var(--color));
  border: none;
}
#calculator .top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 1em;
  position: relative;
}
#calculator .top .screen {
  transform: translateZ(5em);
  height: 2.8em;
  max-width: 10em;
  width: 100%;
  padding: 0 1em;
  --bg-color: 0 0% 0%;
  background-color: hsl(var(--bg-color)/0.2);
  border-radius: 3px;
  box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
  font-size: var(--fs-s);
  color: var(--color);
  padding: 0 0.5em 1em 0.5em;
}
#calculator .top .clear {
  --bg-color: 0 50% 50%;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-evenly;
  width: 3em;
  height: 4em;
  background-color: hsl(var(--bg-color));
  border-radius: var(--br);
  box-shadow: var(--b-shadow);
  color: var(--color);
  transition: all 0.2s ease;
}
#calculator .top .clear:hover {
  --bg-color: 0 50% 35%;
}
#calculator .top #outputMessage {
  color: hsl(var(--color));
  font-weight: var(--fw-m);
  font-size: var(--fs-s);
  height: 1.3em;
  text-align: right;
  overflow-x: hidden;
  overflow-y: auto;
  width: 10em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(calc(-50% + 2.1em)) translateY(calc(-50% + 1em));
}
#calculator .top #outputMessage h2 {
  font-size: 1rem;
  margin-bottom: 0;
}
#calculator .top #outputMessage p {
  margin: 0;
}
#calculator .top #outputMessage p span {
  font-size: var(--fs-b);
  margin: 0 1em 0 0;
  padding: 0.2em;
}
#calculator .keys {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 14em;
  margin: 0 0 0 0.6em;
}
#calculator .keys input:nth-child(1n+1) {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-evenly;
  width: 3em;
  height: 3em;
  background-color: hsl(var(--bg-color));
  border-radius: var(--br);
  box-shadow: var(--b-shadow);
  margin: 0 7px 11px 0;
  color: var(--color);
  transition: all 0.2s ease;
}
#calculator .keys .operator,
#calculator .keys .eval {
  --bg-color: 0 0% 43%;
}
#calculator .keys .operator:hover,
#calculator .keys .eval:hover {
  --bg-color: 0 0% 23%;
}
#calculator .keys .btn:hover {
  --bg-color: 0 0% 50%;
}/*# sourceMappingURL=app.css.map */