body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left, hsl(var(--g-color)), hsl(var(--g-color2)));
    position: relative;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        color: hsl(var(--color));
        font-size: var(--fs-xl);
        padding: var(--p-s)
    }

    p {
        color: hsl(var(--color))
    }

    .flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        gap:1em;
    }

    form {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}