#outputMessage {
    background-image: linear-gradient(to bottom, hsl(var(--g-color)) 0%, hsl(var(--g-color2)) 100%);
    border-radius: var(--br);
    box-shadow: var(--b-shadow);
    color: hsl(var(--color));
    font-weight: var(--fw-m);
    text-align: justify;
    font-size: var(--fs-s);
    min-height: 2em;
    height: 15em;
    overflow-x: hidden;
    overflow-y: auto;
    width: 20em;
    margin: 0 0 0 -0.6em;
    padding: 0 10px;
    line-height: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    p {
        margin: 0;

        span {
            font-size: var(--fs-b);
            margin: 0 1em 0 0;
            padding: 0.2em;
        }

        &:nth-child(odd) {
            --bg-color: 0 0% 20%;
            background-color: hsl(var(--bg-color));
        }

        &:nth-child(even) {
            background-color: hsl(var(--bg-color));
        }
    }
}