:root {
    /* color */
    --color: 0 0% 100%;
    --bg-color: 0 0% 23%;

    --border-color: 0 0% 0%;

    --g-color: 0 0% 23%;
    --g-color2: 0 0% 16%;

    /* shadow */
    --b-shadow: 0 0 .8em hsl(0 0% 0% / .25);

    /* font weight */
    --fw-n: 400;
    --fw-m: 600;
    --fw-b: 800;

    /* font size */
    --fs-xs: 0.6rem;
    --fs-s: 0.8rem;
    --fs-l: 1rem;
    --fs-x: 1.2rem;
    --fs-xl: 1.4rem;

    --br: 0.3em;

    //padding
    --p-s: 1em;
}